@import '@fontsource-variable/geist/wght.css';
/* Body */

/* Local Nasalization Font Configuration */
@font-face {
  font-family: 'Nasalization';
  src: url('/fonts/NasalizationExtended.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@import 'tailwindcss';

@theme {
  /* Define your custom hex color here */
  --color-space-black: #0D0E12;
  --color-space-light: #f5f9ff;
  /* Override default sans with Inter */
  --font-sans: 'Geist', ui-sans-serif, system-ui;

  /* Create custom futuristic header utility */
  --font-display: 'Nasalization', sans-serif;
}

@layer base {
  body {
    /* Now you can use it with @apply just like a default color */
    @apply bg-space-black min-h-screen text-space-light;
  }
}
